/* CSS Document */

.xoops_n {padding-left: 5em;}
.xoops_v {padding-left: 5em;}
.xoops_l {padding-left: 5em;}
.xoops_a {padding-left: 5em;}
.xoops_c {padding-left: 5em;}

.foo {border-bottom: 1px solid black;}